#macro (standardHeader $pageTitle)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.2/build/reset/reset.css"> 
		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.2/build/base/base.css"> 
		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.2/build/fonts/fonts.css"> 
		<link rel="stylesheet" type="text/css" href="${link.contextPath}/css/default.css">
		<script type="text/javascript" src="${link.contextPath}/js/prototype_1.6.0.js"></script>
		<script type="text/javascript" src="${link.contextPath}/js/scriptaculous_bce_1.8.1.js"></script>
		<script type="text/javascript" src="${link.contextPath}/js/prototype_ext.js"></script>
		<title>$pageTitle</title>
	</head>
	<body>
		<h1>#if ($context.isDefined("subTitle"))$subTitle#{else}$pageTitle#end</h1>
		<div class="content">
#end

#macro (standardFooter)
		</div>
	</body>
</html>
#end